.project-list {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    margin-top: 20px;
}

.project-box {
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 20px;
    width: calc(33.333% - 20px);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    background-color: #000000;
}

.project-box h3 {
    margin-top: 0;
}

.project-box a {
    color: var(--primary-color);
    text-decoration: none;
}

.project-box a:hover {
    text-decoration: underline;
}