@import '../../css/custom.css';

.project-list {
    display: flex;
    flex-direction: column;
    gap: 10px;
    max-height: 500px;
    overflow-y: auto;
    padding-right: 10px;
}

.project-card {
    background: var(--ifm-background-color);
    border: 1px solid #2183ec;
    border-radius: 8px;
    padding: 20px;
    transition: transform 0.3s, box-shadow 0.3s;
    cursor: pointer;
}

.project-card:hover {
    transform: translateY(-2px);
    box-shadow: 0 8px 16px rgba(176, 170, 170, 0.585);
}

.project-card h3 {
    margin: 0 0 10px 0;
    font-size: 1.2em;
}

.project-card p {
    font-size: 1em;
    margin: 0 0 10px 0;
}

.project-card .skills {
    color: var(--ifm-color-primary);
}

.project-link {
    display: inline-block;
    margin-top: 10px;
    color: var(--primary-color);
    text-decoration: underline;
    font-weight: bold;
    transition: color 0.3s;
}

.project-link:hover {
    color: var(--hover-color);
    text-decoration: underline;
}