@import '../../css/custom.css';

.social-container {
    display: flex;
    gap: 20px;
}

.social-link {
    text-decoration: none;
    color: inherit;
    font-size: 30px;
}

.social-icon {
    font-size: 1.5rem;
    transition: color 0.3s ease;
}

.social-icon.twitter {
    color: #76c5f5;
}

.social-icon.linkedin {
    color: #0077B5;
}

.social-icon.instagram {
    color: #bc2a8d;
}

.social-icon.github {
    color: #ffffff;
}

.social-icon:hover {
    color: #f2f4f6;
    box-shadow: 0 0px 0px rgba(255, 255, 255, 0.585);
    transform: scale(0.5);
}