@import '../../css/custom.css';

body {
  background-color: var(--background-color);
  color: var(--text-color);
}

.profile-container {
  font-family: var(--font-family);
  color: var(--text-color);
  margin: 30px;
  background-color: var(--background-color);
  margin-left: -5px;
}

.profile-details {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px 0;
  border-bottom: 1px solid #ddd;
}

.profile-info {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.profile-info p {
  font-size: 1em;
  margin: 0.5em 0;
  color: var(--text-color);
}

.btn-primary {
  background-color: var(--ifm-button-background-color);
  color: var(--text-color);
  text-decoration: none;
  /* Ensures it's styled as a button */
  border: none;
  padding: 10px 15px;
  border-radius: 5px;
  cursor: pointer;
  display: inline-block;
  text-align: center;
}

.btn-primary:hover {
  background-color: var(--hover-color);
}

.experience-section {
  margin: 20px 0;
}

.work-section {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 20px;
}

.work-card {
  background: var(--background-color);
  border: 1px solid #2183ec;
  border-radius: 8px;
  padding: 15px;
  min-width: 250px;
  transition: transform 0.3s, box-shadow 0.3s;
  cursor: pointer;
}

work-card:hover {
  transform: translateY(-5px);
  box-shadow: 0 8px 16px rgba(248, 247, 247, 0.2);
}

.work-card h3 {
  margin: 0;
  font-size: 1.2em;
}

.work-card p {
  font-size: 1em;
  margin: 5px 0;
}

.work-card span {
  font-size: 0.9em;
  color: var(--ifm-color-primary);
}

.typist-container {
  font-family: 'Courier New',
    Courier,
    monospace;
  font-size: 1.5em;
  color: var(--text-color);
}

.typist-strong {
  font-weight: bold;
  color: var(--ifm-color-primary);
}

.detypist-container {
  display: inline-block;
  font-family: 'Courier New', Courier, monospace;
  font-size: 1.3em;
  color: var(--ifm-color-primary);
}

.detypist-strong {
  font-weight: bolder;
  color: var(--ifm-color-primary);
}


.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(66, 63, 61, 0.717);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.modal {
  background: rgb(50, 71, 84);
  border-radius: 8px;
  padding: 20px;
  max-width: 500px;
  width: 100%;
  box-shadow: 0 2px 10px rgba(105, 172, 190, 0.467);
}

.modal-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.modal-close-button {
  background: none;
  border: none;
  font-size: 1.5em;
  cursor: pointer;
}

.modal-body {
  margin-top: 10px;
}